<%= form_for(@distributor_setting) do |f| %>
  <% if @distributor_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@distributor_setting.errors.count, "error") %> prohibited this distributor_setting from being saved:</h2>

      <ul>
      <% @distributor_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
