<h1>Listing distributor_settings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distributor_settings.each do |distributor_setting| %>
      <tr>
        <td><%= link_to 'Show', distributor_setting %></td>
        <td><%= link_to 'Edit', edit_distributor_setting_path(distributor_setting) %></td>
        <td><%= link_to 'Destroy', distributor_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distributor setting', new_distributor_setting_path %>
